.card-body {
  text-align: center;
}

.large-font {
  font-size: 40px;
}

.medium-font {
  font-size: 30px;
}

img {
  display: block;
}

.dance {
  font-family: "Moon Dance", cursive;
}

.star {
  font-family: "Twinkle Star", cursive;
}

.fan {
  font-family: "Fanwood Text", serif;
}
.form-control-md{
    background-color: rgb(218, 218, 236);
    
}
.bold {
    font-weight: bolder;
    text-align: center;
  
}

form {
    margin: 8em;
    width: 100%;
    }